# Testing Results

### Here's the link
[https://jonathan.developme.space/index.html](https://jonathan.developme.space/index.html)

## Lighthouse Dev Tools Audit

### The results...

[jonathan.developme.space_lighthouse_2019-07-05.html](file:///Volumes/GoogleDrive/My%20Drive/DevelopMe_/html-css/week1_project1/testing/jonathan.developme.space_lighthouse_2019-07-05.html)

## Cross Browser Testing

### Samsung Mobile Phone 
- Text and buttons overlapping
- Flexbox not working

### Samsung Tablet 
- Flexbox not working

###iPad Air 2 
- Flexbox not working

### Older Windows Desktops
- Flexbox not working

