body {
	background-color: white;
	font-family: sans-serif;
	padding: 20px;
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

main {
	margin-top: 100px;
}

img, picture source, video {
	box-shadow: 0px 0px 10px 2px orange;
}

header {
	box-sizing: border-box;
}

button {
	padding: 10px 20px; 
	background-image: linear-gradient(90deg, crimson, orange, crimson);
	color: white;
	border-radius: 20px;
	margin: 20px auto;
	border: 3px solid orange;
	display: block;
}

video {
	width: 100%;
}

nav ul {
	padding: 0;
	text-align: center;
}

nav li {
	background-image: linear-gradient(90deg, crimson, orange);
	border-left: 5px solid crimson;
	border-top: 5px solid orange;
	border-right: 5px solid crimson;
	border-bottom: 5px solid orange;
	display: inline-block;
	padding: 5px 10px;
	margin: auto;
	width: 70px;
}

nav li a {
	color: white;
}

figure {
	margin: 0;
}

h1 {
	margin: 0;
	padding: 20px 20px 0;
}

h2 {
	background-image: linear-gradient(90deg, crimson, orange);
	border-left: 5px solid crimson;
	border-top: 5px solid orange;
	border-right: 5px solid crimson;
	border-bottom: 5px solid orange;
	color: white;
	padding: 10px;
}

h3 {
	background-image: linear-gradient(90deg, crimson, orange);
	border-left: 5px solid crimson;
	border-top: 5px solid orange;
	border-right: 5px solid crimson;
	border-bottom: 5px solid orange;
	color: white;
	padding: 10px;
}

h4 {
	background-image: linear-gradient(90deg, crimson, orange);
	border-left: 5px solid crimson;
	border-top: 5px solid orange;
	border-right: 5px solid crimson;
	border-bottom: 5px solid orange;
	color: white;
	padding: 10px;
}

table {
	width: 100%;
}